## Assignment 2
#### Use any dataset and perform operations with suitable programming language.

###### 1.Find standard deviation, variance of every numerical attribute.
###### 2.Find Covariance and perform correlation analysis using correlation coefficient.
###### 3.How many independent features are present in the given dataset.
###### 4.Can we identify unwanted features.
###### 5.Perform the data descrtization using equi frequency binning method on any numeric attributes.
###### 6.Normalize the numeric attributes using min-max normalization, Z-Score normalization and decimal scaling normalization.

In [60]:
#Import necessory libraries
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [61]:
# Load dataset
df = pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [89]:
# Select only numerical columns
iris_column = df.select_dtypes(include=[np.number])
iris_column

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [103]:
iris_column.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [75]:
std_dev = df.std()
std_dev

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_11888\3182070398.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  std_dev = df.std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [76]:
var = df.var()
var

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_11888\497365404.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  var = df.var()

sepal_length    0.685694
sepal_width     0.188004
petal_length    3.113179
petal_width     0.582414
dtype: float64

In [86]:
# 2. Covariance and Correlation Coefficient (Using Formula)
# Covariance formula: cov(X, Y) = Σ((X - mean_X) * (Y - mean_Y)) / (n - 1)
# Correlation formula: corr(X, Y) = cov(X, Y) / (std_X * std_Y)
# 2. Covariance and Correlation Coefficient (Using Functions)
# 2. Covariance and Correlation Matrix
covariance_matrix = ndf.cov()
covariance_matrix

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_11888\2058821734.py:6: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  covariance_matrix = df.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414

In [87]:
correlation_matrix = df.corr()
correlation_matrix

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_11888\868109210.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [93]:
# Identifying independent features (correlation < 0.8)
independent_features = [col for col in iris_column.columns if not any(np.abs(correlation_matrix[col]) > 0.8)]
print("\nIndependent Features:", independent_features)

Independent Features: []

In [102]:
# Dependent features identification (assuming 0.8 for correlation)
dependent_features = [col for col in iris_column.columns if all(np.abs(correlation_matrix[col]) > 0.1)]
print("\nDependent Features:\n", dependent_features)

Dependent Features:
 ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

In [81]:
# 5. Data Discretization using Equi-Frequency Binning on 'sepal_length'
num_bins = 4
numerical_df['sepal_length_binned'] = pd.qcut(numerical_df['sepal_length'], q=num_bins, labels=False)
print("\nDiscretized Data:\n", numerical_df.head())

Discretized Data:
    sepal_length  sepal_width  petal_length  petal_width  sepal_length_binned
0           5.1          3.5           1.4          0.2                    0
1           4.9          3.0           1.4          0.2                    0
2           4.7          3.2           1.3          0.2                    0
3           4.6          3.1           1.5          0.2                    0
4           5.0          3.6           1.4          0.2                    0

In [104]:
# 6. Normalization
# Min-Max Normalization
#scale data within a specific range, usually [0, 1]
min_max_normalized = (numerical_df - numerical_df.min()) / (numerical_df.max() - numerical_df.min())
print("\nMin-Max Normalization:\n", min_max_normalized.head())
#Standardizes data for machine learning algorithms
#Ensures all values are within a fixed range for better model performance

Min-Max Normalization:
    sepal_length  sepal_width  petal_length  petal_width  sepal_length_binned
0      0.222222     0.625000      0.067797     0.041667                  0.0
1      0.166667     0.416667      0.067797     0.041667                  0.0
2      0.111111     0.500000      0.050847     0.041667                  0.0
3      0.083333     0.458333      0.084746     0.041667                  0.0
4      0.194444     0.666667      0.067797     0.041667                  0.0

In [106]:
# Z-Score Normalization
#Z-Score Normalization (also called Standardization) scales data to have a mean of 0 and a standard deviation of 1.
z_score_normalized = (numerical_df - numerical_df.mean()) / numerical_df.std()
print("\nZ-Score Normalization:\n", z_score_normalized.head())

Z-Score Normalization:
    sepal_length  sepal_width  petal_length  petal_width  sepal_length_binned
0     -0.897674     1.028611     -1.336794    -1.308593            -1.267761
1     -1.139200    -0.124540     -1.336794    -1.308593            -1.267761
2     -1.380727     0.336720     -1.393470    -1.308593            -1.267761
3     -1.501490     0.106090     -1.280118    -1.308593            -1.267761
4     -1.018437     1.259242     -1.336794    -1.308593            -1.267761

In [84]:
# Decimal Scaling Normalization
#Decimal Scaling Normalization scales data by dividing each value by a power of 10, depending on the maximum absolute value in the dataset.
decimal_scaling_normalized = numerical_df / (10 ** np.ceil(np.log10(numerical_df.abs().max())))
print("\nDecimal Scaling Normalization:\n", decimal_scaling_normalized.head())

Decimal Scaling Normalization:
    sepal_length  sepal_width  petal_length  petal_width  sepal_length_binned
0          0.51         0.35          0.14         0.02                  0.0
1          0.49         0.30          0.14         0.02                  0.0
2          0.47         0.32          0.13         0.02                  0.0
3          0.46         0.31          0.15         0.02                  0.0
4          0.50         0.36          0.14         0.02                  0.0